<section class="container">
    <div class="">
        <div class="storyGrid_wrapper">
            <h2>SAVE TIME AND MONEY</h2>
            <div class="banner row d-md-flex justify-content-center">
                <a href="https://www.bjs.com/category/wow-deals/3000000000000175488?source=SplitMiddleBanner" class="d-block banner_wrapper col-md-4 mb-4 mb-md-0 hp-espot-gtm-tag" data-gtm-id="22" data-gtm-name="WOW Deals" data-gtm-creative="WOW Deals" data-gtm-position="Middle Split Banner 1" data-gtm-type="category" data-gtm-value="">
                    <div class="banner_image">
                        <img alt="Assortment of products with great deals" src="https://s7d6.scene7.com/is/image/bjs/200202_StoryGrid_WOW">
                    </div>
                    <div class="banner_text text-center">
                        <h3><span>WOW DEALS</span></h3>
                        <p>Jaw-dropping deals <br>too good to miss</p>
                    </div>
                </a>
                <a href="https://www.bjs.com/content?template=B&amp;espot_main=EverydayEssentials&amp;source=SplitMiddleBanner" class="d-block banner_wrapper col-md-4 mb-4 mb-md-0 hp-espot-gtm-tag" data-gtm-id="23" data-gtm-name="STOCKED" data-gtm-creative="STOCKED" data-gtm-position="Middle Split Banner 2" data-gtm-type="category" data-gtm-value="">
                    <div class="banner_image">
                        <img alt="BJ's stocked box with essentials shipped to your home" src="https://s7d6.scene7.com/is/image/bjs/200202_StoryGrid_Stocked">
                    </div>
                    <div class="storyGrid_text text-center">
                        <h3><span>BJ's STOCKED</span></h3>
                        <p>2-Day Delivery <br>Guaranteed</p>
                    </div>
                </a>
                <a href="http://www.bjs.com/blog/?source=SplitMiddleBanner" class="d-block banner_wrapper col-md-4 mb-4 mb-md-0 hp-espot-gtm-tag" data-gtm-id="24" data-gtm-name="BJs Blog" data-gtm-creative="BJs Blog" data-gtm-position="Middle Split Banner 3" data-gtm-type="category" data-gtm-value="">
                    <div class="banner_image">
                        <img alt="A couple reading BJ's blog on their phone" src="https://s7d6.scene7.com/is/image/bjs/200202_StoryGrid_Blog">
                    </div>
                    <div class="storyGrid_text text-center">
                        <h3>BJ's <span>Smart Saver Blog</span></h3>
                        <p>Shop fast, save easy <br>and live smart.</p>
                    </div>
                </a>
            </div> 
        </div>
    </div>
</section>
